.tododetails {
    max-width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
    color: #191e2e;
    border-bottom: 5px solid #3f496d;
    font-size: 16px;
    box-shadow: inset 0 0 10px #3f496d;
    position: relative;

    &-inner-item {
        margin-bottom: 10px;

        span {
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}
