#spinner {
    width: 100%;
    position: sticky;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 300px;
    // top: 150px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }
}
